<section class="section section--advice" id="blog">
    <div class="container container--wider">
        <h2 class="visually-hidden">Advice</h2>
        <div class="advices advices--priest">
            <div class="advices__img-block advices__img-block--priest">
                <a href="#" class="advices__img-link">
                    <picture class="advices__img-wrap advices__img-wrap--priest">
                        <img class="advices__img advices__img--priest" src="img/advice-priest-img.jpg" alt="advice priest">
                    </picture>
                </a>
                <a href="#" class="btn advices__link advices__link--priest">Советы священника</a>
            </div>
            <div class="advices__block advices__block--priest">
                <div class="advice advices__article">
                    <a href="#" class="advice__link">
                        <h3 class="advice__topic">Воспитание</h3>
                        <div class="advice__text">Как правильное воспитание вляет на атмосферу в семье и зарождает правильные ценности</div>
                    </a>
                </div>
                <div class="advice advices__article">
                    <a href="#" class="advice__link">
                        <h3 class="advice__topic">Самопознание</h3>
                        <div class="advice__text">Не стоит винить в происходящем окружающих, посомтри сперва как ты можешь испраивть ситуацию</div>
                    </a>
                </div>
                <div class="advice advices__article">
                    <a href="#" class="advice__link">
                        <h3 class="advice__topic">Диалоги</h3>
                        <div class="advice__text">Иногда простой разговор по душам может привести все дела в порядок, не стоит боятся общения</div>
                    </a>
                </div>
                <div class="advice advices__article">
                    <a href="#" class="advice__link">
                        <h3 class="advice__topic">Семья</h3>
                        <div class="advice__text">Прежде, чем начинать ссору, посомтрите на вашего ребенка, стоит ли игра свечь</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="advices advices--psychol">
            <div class="advices__img-block advices__img-block--psychol">
                <a href="#" class="advices__img-link">
                    <picture class="advices__img-wrap advices__img-wrap--psychol">
                        <img class="advices__img advices__img--psychol" src="img/advice-psychol-img.jpg" alt="advice psychol">
                    </picture>
                </a>
                <a href="#" class="btn advices__link advices__link--psychol">Советы психолога</a>
            </div>
            <div class="advices__block advice__block--psychol">
                <div class="advice">
                    <a href="#" class="advice__link">
                        <h3 class="advice__topic">Общие советы</h3>
                        <div class="advice__text">Не стоит думать, что проблемы в семье характерны только для ваших отношений, это не правильно</div>
                    </a>
                </div>
                <div class="advice">
                    <a class="advice__link" href="#">
                        <h3 class="advice__topic">Подросткам</h3>
                        <div class="advice__text">Что делать, если родители постоянно ссорятся и эти соры приводят к негативным последствиям</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>