<section class="section section--cover section--bg" id="about">
    <div class="container container--wider">
        <span class="text-reverse">Инициатива религиозных сообществ</span>
        <div class="container">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="article">
                            <figure class="article__figure">
                                <div class="article__img-block">
                                    <picture class="article__img-wrap">
                                        <img class="article__img" src="img/cover-img-1.jpg" alt="">
                                    </picture>
                                </div>
                                <figcaption class="article__figcaption">
                                    <blockquote class="article__blockquote">
                                        Насильство починається з приниження. Не поспішайте подавати на розлучення.
                                        Перше, що треба зробити – не запускати ситуацію. Якщо відчуваєте
                                        дискомфорт і тиск на власні інтереси – не мовчіть!
                                        <svg class="article__quotes" width="144" height="144">
                                            <use xlink:href="#quotes"></use>
                                        </svg>
                                    </blockquote>
                                    <cite class="article__cite">З інтерв'ю журналу Elle</cite>
                                </figcaption>
                            </figure>
                            <h2 class="article__author">Маша Єфросиніна, телеведуча</h2>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="article">
                            <figure class="article__figure">
                                <div class="article__img-block">
                                    <picture class="article__img-wrap">
                                        <img class="article__img" src="img/cover-img-2.jpg" alt="">
                                    </picture>
                                </div>
                                <figcaption class="article__figcaption">
                                    <blockquote class="article__blockquote">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis iusto dolorem dolores magnam adipisci omnis esse possimus maiores pariatur accusamus, corrupti officiis labore! Fugit, doloremque ipsam!
                                        <svg class="article__quotes" width="144" height="144">
                                            <use xlink:href="#quotes"></use>
                                        </svg>
                                    </blockquote>
                                    <cite class="article__cite">Lorem ipsum dolor sit amet.</cite>
                                </figcaption>
                            </figure>
                            <h2 class="article__author">Lorem, ipsum dolor.</h2>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="article">
                            <figure class="article__figure">
                                <div class="article__img-block">
                                    <picture class="article__img-wrap">
                                        <img class="article__img" src="img/cover-img-3.jpg" alt="">
                                    </picture>
                                </div>
                                <figcaption class="article__figcaption">
                                    <blockquote class="article__blockquote">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, sit officia. Ab asperiores laudantium ullam nam a quod explicabo nemo laboriosam facilis dolore deserunt voluptate ipsam laborum, ducimus cupiditate beatae! Eos, nesciunt! Cumque, blanditiis tempora.
                                        <svg class="article__quotes" width="144" height="144">
                                            <use xlink:href="#quotes"></use>
                                        </svg>
                                    </blockquote>
                                    <cite class="article__cite">Lorem, ipsum.</cite>
                                </figcaption>
                            </figure>
                            <h2 class="article__author">Lorem, ipsum dolor.</h2>
                        </article>
                    </div>
                </div>
                <div class="swiper-buttons">
                    <div class="swiper-buttons__btn swiper-buttons__btn--prev">
                        <svg width="55" height="55">
                            <use xlink:href="#arrow-prev"></use>
                        </svg>
                    </div>
                    <div class="swiper-buttons__btn swiper-buttons__btn--next">
                        <svg width="55" height="55">
                            <use xlink:href="#arrow-prev"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>