<footer class="section section--bg footer" id="contacts">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <h4 class="footer__title">Разделы</h4>
                <ul class="pars">
                    <li class="pars__item">
                        <a class="pars__link" href="#">Советы священника</a>
                    </li>
                    <li class="pars__item">
                        <a class="pars__link" href="#">Советы психолога</a>
                    </li>
                    <li class="pars__item">
                        <a class="pars__link" href="#">Постадавшим от насилия</a>
                    </li>
                    <li class="pars__item">
                        <a class="pars__link" href="#">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Ресурсы для социальной работы</h4>
                <ul class="pars">
                    <li class="pars__item">
                        <a class="pars__link" href="#">Обмен опытом</a>
                    </li>
                    <li class="pars__item">
                        <a class="pars__link" href="#">Советы священнослужителей и социальных работников</a>
                    </li>
                    <li class="pars__item">
                        <a class="pars__link" href="#">Фандрайзинг</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h4 class="footer__title">Подписывайся</h4>
                <ul class="social">
                    <li class="social__item">
                        <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <svg width="40" height="40">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <svg width="40" height="40">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <svg width="40" height="40">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__copy">© Церкви против домашнего насилия, 2020. Все права защищены.Копирование материалов без разрешения администрации запрещено.</p>
    </div>
</footer>