<section class="section section--question">
    <div class="container container--wider">
        <h2 class="visually-hidden"></h2>
        <div class="question fw-500">
            <h2 class="question__title">
                <span class="question__arrow">
                    <svg width="23" height="38">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </span>
                Пострадали от домашнего насилия?</h2>
            <a href="#" class="btn question__btn">Получить помощь</a>
        </div>
    </div>
</section>