<section class="section section--social" id="resources">
    <div class="container">
        <h2 class="section__title">ресурсы для социальной работы</h2>
        <div class="resources">
            <div class="resource">
                <a href="#" class="resource__link" target="_blank" rel="noopener noreferrer">
                    <figure class="resource__figure">
                        <picture class="resource__img-wrap">
                            <img class="resource__img" src="img/social-resource-img-1.jpg" alt="">
                        </picture>
                        <figcaption class="resource__figcaption btn">обмен опытом</figcaption>
                    </figure>
                </a>
            </div>
            <div class="resource">
                <a href="#" class="resource__link" target="_blank" rel="noopener noreferrer">
                    <figure class="resource__figure">
                        <picture class="resource__img-wrap">
                            <img class="resource__img" src="img/social-resource-img-2.jpg" alt="">
                        </picture>
                        <figcaption class="resource__figcaption btn btn--dark">Советы для священнослужителей и социальных работников</figcaption>
                    </figure>
                </a>
            </div>
            <div class="resource">
                <a href="#" class="resource__link" target="_blank" rel="noopener noreferrer">
                    <figure class="resource__figure">
                        <picture class="resource__img-wrap">
                            <img class="resource__img" src="img/social-resource-img-3.jpg" alt="">
                        </picture>
                        <figcaption class="resource__figcaption btn">Фандрайзинг</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="logo-canada">
            <img src="img/logo-Canada.png" alt="logo Canada">
        </div>
    </div>
</section>