.section {
    &--cover {
        padding-top: 69px;
        position: relative;

        @media screen and (min-width: 920px) {
            padding-top: 100px;
        }

        & > .container--wider {
            padding: 0;

            @media screen and (min-width: 1310px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.text-reverse {
    display: none;
    transform: rotate(180deg);
    position: absolute;
    writing-mode: tb-rl;
    text-transform: uppercase;
    @include font($fz: 1.4rem, $fc: $medium-gray, $fw: 500);

    @media screen and (min-width: 992px) { display: inline-block; }
}

.article {
    position: relative;
    padding-bottom: 70px;

    @media screen and (min-width: 992px) { padding: 30px; }

    &__figure {
        @include flex($jc: center, $ali: flex-start);
        flex-wrap: wrap;

        @media screen and (min-width: 576px) { flex-wrap: nowrap; }

        @media screen and (min-width: 992px) {
            align-items: start;
            padding-bottom: 0;
        }
    }
    &__img-block {
        flex-basis: 100%;
        align-self: flex-end;
        margin-top: 17px;

        @media screen and (min-width: 375px) and (max-width: 575px) {
            flex-basis: 80%;
        }

        @media screen and (min-width: 576px) { 
            flex-basis: 40%;
            margin-top: 0;
        }
    }
    &__img-wrap {
        display: block;
        position: relative;
        padding-top: 150%;
        overflow: hidden;
        
    }
    &__img {
        @include posA($top: 50%, $left: 50%);
        @include transform;
        min-width: 100%;
        min-height: 100%;
    }
    &__figcaption {
        order: -1;
        color: $black;

        @media screen and (min-width: 576px) {
            order: 0;
            padding: 20px;
            flex-basis: 60%;
            margin-top: 0;
        }
        @media screen and (min-width: 768px) { padding: 40px; }
    }
    &__blockquote {
        position: relative;
        font-style: italic;
        overflow: hidden;
        font-weight: 300;
        font-size: 2.3rem;
        max-height: 194px;
        @include clamp($clamp: 7);
        @media screen and (min-width: 454px) { 
            max-height: 166px;
            $clamp: 6;
        }
        @media screen and (min-width: 488px) { 
            max-height: 138px;
            $clamp: 5;
        }
        @media screen and (min-width: 768px) { 
            font-size: 2.8rem;
            max-height: 270px;
            $clamp: 8;
        }

        @media screen and (min-width: 992px) { 
            font-size: 3.2rem; 
            max-height: 385px;
            $clamp: 10;
        }
    }
    &__quotes {
        @include posA($right: 0%, $top: -7%);
        z-index: -1;
        width: 120px;
        height: 120px;

        @media screen and (min-width: 768px) {
            width: 144px;
            height: 144px;
        }
    }
    &__cite {
        font-style: normal;
        display: block;
        margin-top: 17px;
        font-weight: 500;
        font-size: 1.8rem;

        @media screen and (min-width: 576px) {
            margin-top: 32px;
        }
    }
    &__author {
        font-size: 0;
        @include flex;
        @include posA($bottom: 0, $left: 0);
        background-color: $medium-black;
        width: 100%;
        padding-left: 2.2em;
        line-height: 70px;

        @media screen and (min-width: 768px) { font-size: 1.5rem; }

        @include font($fz: null, $fc: $secondary-color, $fw: 900);
        text-align: center;
        padding-right: 150px;
        height: 70px;

        @media screen and (min-width: 992px) {
            text-align: left;
            font-size: 2.2rem;
        }
    }
}

.swiper-buttons {
    @include flex;
    @include posA($bottom: 0, $right: 0);
    height: 70px;
    z-index: 1;
    
    &__btn {
        background-color: $medium-black;
        cursor: pointer;
        height: 100%;
        width: 70px;
        @include flex($jc: center);
        @include tr;

        &--next { 
            transform: rotate(180deg);
            background-color: $primary-color;
            svg { fill: $medium-black; }
        }
        &--prev { fill: $section-bg; }
    }
}

