.header {
    @include posA(0, 0, 0);
    z-index: 10;
    padding-top: 7px;
    @media screen and (min-width: 920px) { padding-top: 0; }
}

.nav {
    @include flex;
    @media screen and (min-width: 1310px) { padding-right: 35px; }
    &__info {
        @include flex($jc: start);
    }
    &__menu {
        @include posA(0, 0, 0, 0);
        z-index: 5;
        height: 100vh;
        @include flex($jc: center);
        flex-direction: column;
        background-color: $secondary-color;
        opacity: 0;
        transform: translate(0, 0) scale(0);
        @include tr(.3s);
        .menu-opened & {
            opacity: 1;
            transform: translate(0, 0) scale(1);
        }

        @media screen and (min-width: 920px) {
            position: relative;
            background-color: transparent;
            flex-direction: row;
            height: auto;
            justify-content: space-between;
            opacity: 1;
            transform: translate(0, 0) scale(1);
            padding: 17px 0;
        }
    }
    &__btn { 
        margin: 0 30px;
        .menu-opened & {
            border-color: $black;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.search {
    &__logo {
        svg { fill: $black; }
    }
}

.logo-info {
    @include flex;
    &__text {
        @include font($fz: 1.4rem, $fc: $black, $fw: bold);
        text-transform: uppercase;
        margin-right: 8px;
    }
    @media screen and (max-width: 425px) { display: none; }
}

.logo {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $primary-color;
}

.langs {
    text-transform: uppercase;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-left: 30px;

    &__lang { 
        @include tr;
        @include hover {
            font-weight: bold;
            opacity: 1;
        }
    }

    .menu-opened & { margin: 0; }
}

.active-lang { font-weight: bold; }

$social-size: 32px;

.toggler {
    position: relative;
    z-index: 10;
    padding: 10px;

    @media screen and (min-width: 920px) {
        display: none;
    }
}

.menu {
    @include flex($jc: center);
    
    .menu-opened & { flex-direction: column; }

    &__link {
        white-space: nowrap;
        display: inline-block;
        font-size: 1.5rem;
        padding: .5em;

        .menu-opened & {
            padding: 1em;
            font-size: 1.7em;
            color: $black;
            font-weight: bold;
        }
    }
}

.menu-opened { overflow: hidden; }
