.resources {
    @include flex($jc: center);
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.resource {
    width: 100%;
    max-width: 365px;
    margin: 25px 10px;
    background-color: $section-bg;
    font-size: 0;

    &__link {
        display: inline-block;
        @include full;
        @include tr;
        @include hover  { opacity: .8; }
    }

    &__img-wrap {
        display: block;
        position: relative;
        padding-top: 50%;
        overflow: hidden;
        &:before {
            content: '';
            @include posA(0, 0, 0, 0);
            display: inline-block;
            background-color: rgba($dark-black, 0);
            z-index: 1;
            @include tr;
        }
    }
    &__img {
        @include posA($top: 50%, $left: 50%);
        @include transform;
        min-width: 100%;
        min-height: 100%;
    }
    &__figcaption {
        max-width: 365px;
        overflow: hidden;
        @include clamp($clamp: 4);
    }
}

.logo-canada {
    text-align: center;
    margin: 55px 0;
}