@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

$body-ff: Roboto, sans-serif;

$medium-gray : #999999;
$medium-black: #1c1c1c; 
$dark-black  : #111111;

$body-color     : #333333;
$secondary-color: #ffffff;
$primary-color  : #fac629;
$black          : #000000;

$body-bg: $secondary-color;
$section-bg: #eeeeeb;

$border-width: 1px;

$letter-space: .065em;