@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'search';
@import 'swiper-bundle';

*, *:before, *:after { box-sizing: border-box; }
ul { list-style: none; margin: 0; padding: 0; }
a { 
    text-decoration: none; 
    color: inherit;
    @include tr;
    @include hover { opacity: .8; }
}
p, h1, h2, h3, h4, h5, h6, blockquote, figure { margin: 0; }
img { object-fit: cover; max-width: 100%; }
h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1;}

html { font-size: 10px; scroll-behavior: smooth; }

body {
    @include font($body-ff, 1.3rem, $body-color, 400, 1.2);
    background-color: $body-bg;
    letter-spacing: $letter-space;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;

    &--wider {
        @media screen and (min-width: 1310px) {
            max-width: 1310px;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.fw-500 { font-weight: 500; }

.btn {
    @include flex($df: inline-flex, $jc: center);
    @include font($fz: 1.4rem, $fc: $black, $fw: 500);
    padding: 5px 10px;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 70px;
    max-width: 300px;
    text-transform: uppercase;
    text-align: center;

    &--help {
        max-width: 165px;
        height: auto;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: none;
        min-height: 35px;
    }
    &--dark {
        background-color: $medium-black;
        color: $secondary-color;
    }
}

.section {
    &--bg {
        background-color: $section-bg;
    }
    &__title {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: bold;
        text-transform: uppercase;
        color: $black;
        letter-spacing: $letter-space;
        margin-top: 25px;
        text-align: center;

        @media screen and (min-width: 780px) {
            font-size: 1.4rem;
            text-align: left;
        }
    }
}

.swiper-wrapper { align-items: flex-end; }


@import 'cover';
@import 'advice';
@import 'question';
@import 'social-resources';
@import 'socials';
@import 'footer';
